.Card{
    background-color: rgb(0, 0, 0);
    width: 290px;
    min-height: max-content;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 2px 3px 3px rgba(255, 255, 255, 0.144);
}

.card-face{
    background-color: #ffffff07;
    border-radius: 8px;
    height: 200px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;

    box-shadow: 1px 1px 5px rgba(134, 131, 131, 0.397);
}

.card-face img{
    /* width: 100%; */
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.card-title{
    text-align: center;
}

.btn-area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.btn-area button{
    width: 80px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    box-shadow: 1px 1px 1px white;
    transition: .3s;
    cursor: pointer;
}

.btn-area button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(17, 0, 0);
    transition: .3s;
}

@media (max-width: 700px){
    .Card{
        width: 250px;
        overflow: hidden;
    }
    
    .card-face{
        height: 150px;
        overflow: hidden;
    }

    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
    }
    
    .card-title{
        text-align: center;
    }
    
    .btn-area{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        box-sizing: border-box;
    }
}