.Container{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/restaurante-menu-5bad4.appspot.com/o/fundo-tijolos.jpg?alt=media&token=e27bc63d-42bf-4185-83e9-c7a6e1f3f09d');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    width: calc(100% - 150px);
    max-height: max-content;
}

@media (max-width: 750px){
    .Container{
        padding: 0;
        width: 100%;
        min-height: 100vh;
        background-image: url('https://firebasestorage.googleapis.com/v0/b/restaurante-menu-5bad4.appspot.com/o/body-view.png?alt=media&token=a1a8cfe2-16ae-43bf-9c34-23897305c980');
    }
}