.Favorites{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    overflow-y: scroll;
    overflow-x: hidden;
}



