.Home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.Home-section{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-section div{
    width: 80%;
}

.Home-section div img{
    width: 100%;
}

.home-smallview{
    display: none;
}


@media (max-width: 700px){


    .Home-section button{
        width: 100%;
    }

    .Home-section div img{
        display: none;
    }

    .Home{
        background-image: url('https://firebasestorage.googleapis.com/v0/b/restaurante-menu-5bad4.appspot.com/o/home-foto.png?alt=media&token=d70c8d32-6907-408e-bd09-9913b64c0ec0');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .Home-section{
        display: none;
    }
    
    .home-smallview{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        text-align: center;
        color: white;
        font-size: 14px;
    }
}
